@media (max-width: 768px) {
  .navbar {
    width: 100% !important;
    left: 0 !important;
    transform: none !important;
    top: 0 !important;
    padding: 16px 20px !important;
    gap: 20px !important;
    justify-content: space-around !important;
    background-color: rgba(0, 0, 0, 0.8) !important;
  }

  .navbar a {
    font-size: 12px !important;
    letter-spacing: 0px !important;
  }
}