@media (max-width: 768px) {
  .tracklist {
    height: 400px !important;
    margin-top: 0 !important;
  }

  .tracklist h1 {
    font-size: 40px !important;
    top: 10px !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    width: max-content !important;
  }
}